body {
    background-color: black;
    color: #CCCCCC;
    margin: 0 auto; /* Center the body content */
    margin-top: 15px;
    max-width: 50%; /* Set maximum width to 66% of the viewport */
    padding: 20px; /* Add padding for readability */
}

@media screen and (max-width: 800px) {
    body {
        max-width: 95%
    }
}

h1 {
    font-size: 1em;
    color: #CCCCCC;
}

/* h1 a {
    text-decoration: none;
    color: #CCCCCC; 
} */

h1 a/*:hover */{
    color: blue; /* Change color on hover */
    text-decoration: underline;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px; /* Add some space between links */
}

section ul {
    list-style-type: none;
    padding: 0;
}

section a {
    text-decoration: none;
    color: #CCCCCC;
}

section a:hover {
    color: blue; /* Change color on hover */
    text-decoration: underline;
}

/*nav a {
    text-decoration: none;
    color: #CCCCCC;
}*/

nav a/*:hover*/ {
    color: blue; /* Change color on hover */
    text-decoration: underline;
}

h2 {
    font-size: 1.2em;
    color: #D05A41;
    margin-top: 15px;
}
