body {
    padding-left: 20px;
    background-color: black;
    color: white;
    margin-top: 15px;
}

h1 {
    font-size: 1em;
    color: #A09070; /* Slightly orange gray */
}

h1 a {
    text-decoration: none;
    color: #A09070; /* Slightly orange gray */
}

h1 a:hover {
    color: blue; /* Change color on hover */
    text-decoration: underline;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px; /* Add some space between links */
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: blue; /* Change color on hover */
    text-decoration: underline;
}
