body {
    padding-left: 20px;
    background-color: black;
    color: white;
    margin: 0;
}

h1 {
    font-size: 1em;
    color: #789456; /* Slightly green gray */
}

h1 a {
    text-decoration: none;
    color: #789456; /* Slightly green gray */
    transition: color 0.3s; /* Add transition for smooth color change on hover */ 
}

h1 a:hover {
    color: blue; /* Change color on hover */
    text-decoration: underline;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px; /* Add some space between links */
}

nav a {
    text-decoration: none;
    color: white;
    transition: color 0.3s; /* Add transition for smooth color change on hover */
}

nav a:hover {
    color: blue; /* Change color on hover */
    text-decoration: underline;
}
